@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

$primary: rgba(31, 31, 31, 0.62);
$secondary: rgb(194, 143, 44);
$danger: #62c0EE;

@import "../../node_modules/bootstrap/scss/bootstrap";