@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

$primary: rgb(197, 7, 255);
$secondary: rgb(0, 255, 200);
$danger: rgb(200, 255, 0);

@import "../../node_modules/bootstrap/scss/bootstrap";