@import "reset";
@import "variables";

.cabezero {
    border: 1px solid $black;
    background-color: $black;
    padding-top: 10px;
    text-align: center;
    width: 100%;
    padding-bottom: 0px;

    .justify-content-end {
        background-color: $justify-background;
        padding-top: 20px;
        font-size: 20px;
    }

    h1 {
        color: $primary-color;
        font-size: 3em;
        font-weight: bold;
    }

    .nav-link {
        color:$secondary-color;
    }
    
    li:first-child {
        margin-right: auto;
      }
}

.navbar-nav {
    background-color: $black;
    overflow: hidden;
    
    .nav-link {
        float: left;
        display: block;
        color: $secondary-color;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    .nav-link:hover {
        background-color: $primary-color;
        color:$secondary-color;
    }

    .icon {
        display: none;
    }
}

.carousel {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 50%;
}

h2 {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 2em;
}

footer {
    text-align: center;
    width: 100%;
    background-color: $black;
    color: $secondary-color;
    height: 100px;

    div {
        padding: 20px;
    }
}

.cookies {
    width: 100%;
    background-color: $black;
    color: $secondary-color;
    position: fixed;
    z-index: 1;
    bottom: 0px;
    text-align: center;
    opacity: 0.9;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;

    > div {
        padding: 1em;
        justify-items: center;
        text-align: center;

        > p {
            font-size: 30px;
            font-family: 'Space Grotesk';
            font-size: 1em;
        }

        > img {
            object-fit: cover;
            width: 50%;
        }
    }
}

@media screen and (max-width: 600px) {
    .wrapper {
        -webkit-perspective: 1000px;
        perspective: 1000px;
        position: relative;
        margin: 10px auto;
        
        div {

            > p {
                font-size: 15px;
            }

            > img {
                object-fit: cover;
                width: 100%;
            }
        }
    }

    #personaje1, #personaje2, #personaje3, #personaje4,
    #personaje5, #personaje6, #personaje7, #personaje8 {
        position: relative;
        transition: 0.6s;
        transform-style: preserve-3d;
        transform-origin: 100% 25px;
        margin: 5px;
    }
    #personaje1:hover, #personaje1.flip, #personaje2:hover, #personaje2.flip,
    #personaje3:hover, #personaje3.flip, #personaje4:hover, #personaje4.flip,
    #personaje5:hover, #personaje5.flip, #personaje6:hover, #personaje6.flip,
    #personaje7:hover, #personaje7.flip, #personaje8:hover, #personaje8.flip {
        transform: rotateX(180deg);
    }
    .front, .back {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        text-align: center;
    }
    .front {
        position: absolute;
        transform: rotateX(0deg);
        z-index: 2;
        background-color: $secondary-color;
        color: $black;
        font: 1em/1.8em Arial;
        align-items: center;
        justify-content: center;
    }
    .back {
        transform: rotateX(180deg);
        background: repeating-linear-gradient(
            -45deg,
            $secondary-color,
            $secondary-color 10px,
            $secondary-color 10px,
            $secondary-color 20px
        );
    }
}

@media (min-width: 1281px) {
  
    .panel {
        display: grid;
        grid-template-columns: 3fr 3fr 2fr;
    }

    .wrapper {
        grid-template-columns: repeat(4, 1fr);
    }
    
}
  
@media (min-width: 1025px) and (max-width: 1280px) {

    .panel {
        display: grid;
        grid-template-columns: 3fr 3fr 2fr;
    }

    .wrapper {
        grid-template-columns: repeat(4, 1fr);
    }
    
}
